@import '~bootstrap/scss/bootstrap.scss';

.page {
    background-image: url('../../assets/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}